<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSocket Notifications</title>
  </head>
  <body>
    <h1>WebSocket Notifications</h1>
    <div id="notifications"></div>

    <!-- Sertakan Socket.IO client -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

    <script>
      // Gantilah "localhost:3000" dengan alamat server Anda jika perlu
      const socket = io('localhost:3000');

      // Mendengarkan event 'registration_success'
      socket.on('registration_success', (data) => {
        const notificationsDiv = document.getElementById('notifications');

        // Menampilkan notifikasi yang diterima
        const messageElement = document.createElement('p');
        messageElement.textContent = `${data.message} for user: ${data.id}, ${data.email}`;
        notificationsDiv.appendChild(messageElement);
      });
    </script>
  </body>
</html>
